In [6]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [7]:
#question1
e=df.head(3)
e

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [9]:
#question2
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data=pd.DataFrame(exam_data, index=labels)

indexNames=data[data['qualify']=='no'].index
data.drop(indexNames , inplace=True)
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
j      Jonas   19.0         1     yes

In [12]:
#question3
s=df[['name','score']]
print(s)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [13]:
#question4
df.loc['k'] = ["Suresh",
 15.5,
 1,
 "yes"]
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [14]:
#question5
e=df.drop("attempts", axis=1)
print(e)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [15]:
#question6
sucess=[]
for row in df['score']:
    if row < 10 :    sucess.append(0)
    elif row >10:   sucess.append(1)
    else:   sucess.append(0)
df['Sucess']=sucess
print(df)

        name  score  attempts qualify  Sucess
a  Anastasia   12.5         1     yes       1
b       Dima    9.0         3      no       0
c  Katherine   16.5         2     yes       1
d      James    NaN         3      no       0
e      Emily    9.0         2      no       0
f    Michael   20.0         3     yes       1
g    Matthew   14.5         1     yes       1
h      Laura    NaN         1      no       0
i      Kevin    8.0         2      no       0
j      Jonas   19.0         1     yes       1
k     Suresh   15.5         1     yes       1

In [16]:
#question7
df.to_csv('df_csv')
df1=pd.read_csv('df_csv')
print(df1)

   Unnamed: 0       name  score  attempts qualify  Sucess
0           a  Anastasia   12.5         1     yes       1
1           b       Dima    9.0         3      no       0
2           c  Katherine   16.5         2     yes       1
3           d      James    NaN         3      no       0
4           e      Emily    9.0         2      no       0
5           f    Michael   20.0         3     yes       1
6           g    Matthew   14.5         1     yes       1
7           h      Laura    NaN         1      no       0
8           i      Kevin    8.0         2      no       0
9           j      Jonas   19.0         1     yes       1
10          k     Suresh   15.5         1     yes       1